<form action="/create" method="POST">
    <h3>Create Todo</h3>
    <input type="text" name="title" placeholder="Название задачи">
    <div>
        <input type="date" name="keyDate" >
    </div>
    <button type="submit" class="btn">Создать</button>
</form>